# Ignore everything
*

# Allow backend and frontend folders and all their contents
!backend/
!backend/**
!frontend/
!frontend/**
!screenshots/
!screenshots/**
!demo/
!demo/**

!requirements.txt
!README.md

# Still ignore secrets or system files inside those folders
backend/.env
frontend/.env
.DS_Store

# Allow the .gitignore file itself
!.gitignore